logs/
__pycache__/
dist/
build/
baddata/
*.egg-info/

test-data/
search/trigger/
htmlcov/

*.swp
*.pyc
*.json
*.pickle
*.pyd
*.c
*.coverage
*.ipynb
*.csv

*~
*.nupkg
.vs/pyrecipes/v16/.suo

*.json

smalibs.txt
*.whl


.venv*/
_venv*/